<!-- <div id='header' class="header"> -->
<!-- <div id='header'>
  <app-nav-bar></app-nav-bar>
</div> -->
<header id="header">
  <app-nav-bar></app-nav-bar>
</header>

<div>
<div id="sideMenu" class="sideMenu" style="">
  <h1 >Categories</h1><br>
<app-categories></app-categories>
  <!-- <ul>
    <li *ngFor="let type of eCategoryType | keyvalue">
        <span>{{type.value}}</span>
    </li>
  </ul>  -->
</div>
<div id="Main" class="main" style="border: 1px solid gray;"> 
  <router-outlet></router-outlet>
</div>
<div id="rightMenu" class="rightMenu" style="">
    <app-cart></app-cart>
</div>
</div>
<footer id="footer" style="background-color: gray;"></footer>